@font-face {
  font-family: "Helvetica";
  src: url(../assets/fonts/Helvetica-Bold.ttf);
}
* {
  font-family: "Helvetica", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-image: url(../img/backs/madera.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1,
h2,
h3,
span,
.pie__titulo--l,
.productos__tittle,
.anuncio__box--some,
.cuerpe__text--m,
.cuerpe__table--m,
.nosotrx__text--l {
  color: #ffffff;
  background-color: #000000;
  padding: 10px;
}

h1,
h2 {
  font-weight: 400;
}

h1 {
  font-size: 3rem;
  padding: 10px;
}

h2 {
  font-size: 2.5rem;
  padding: 8px;
}

h3 {
  color: #000000;
  font-size: 1.5rem;
}

span {
  padding: 10px;
  color: #000000;
  font-size: 1.7rem;
}

nav {
  background-color: #000000;
  position: sticky;
  width: 100%;
  top: 0;
  padding: 10px 0;
  margin: 10px 0;
}
nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
nav ul li {
  margin: 0 10px;
}
@media (max-width: 768px) {
  nav ul li {
    margin: 5px;
  }
}
nav ul li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 2rem;
}
nav ul li a:hover {
  color: #8c8c8c;
}
@media (max-width: 768px) {
  nav ul li a {
    font-size: 1.5rem;
  }
}

form {
  width: 80%;
  margin: 20px auto;
  padding: 10px;
}
form label {
  font-size: 2rem;
  display: block;
  margin-bottom: 10px;
}
form input,
form textarea {
  margin-bottom: 20px;
  width: 100%;
  display: block;
}

.cuerpo__img--entera {
  width: 100%;
}

.cabezera__img--m {
  width: 200px;
  padding: 10px;
}

.anuncio__box--some {
  text-align: center;
  font-size: 2.5rem;
  padding: 10px 0;
}

.boton__accion--s {
  width: 7.5rem;
  margin: 15px auto;
  display: block;
}

.textCenter {
  text-align: center;
}

.pie {
  text-align: center;
  padding: 10px;
  width: 90%;
  margin: 20px auto;
}
.pie .pie__titulo--l,
.pie .productos__tittle {
  font-weight: 500;
  font-size: 2rem;
  padding: 10px;
}
.pie .pie__icon--s {
  width: 40px;
  margin: 5px;
}

.cuerpe {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 10px;
}
.cuerpe .cuerpe__tittle--l,
.cuerpe .nosotrx__tittle--l {
  text-align: center;
  padding: 1px;
  width: 90%;
  margin: auto;
}
.cuerpe .cuerpe__text--m,
.cuerpe .nosotrx__text--l {
  text-align: center;
  font-weight: 100;
  line-height: 5rem;
  font-size: 2rem;
  margin: 10px;
  opacity: 0.9;
  padding: 10px;
}
.cuerpe .cuerpe__table--m {
  text-align: center;
  font-weight: 100;
  line-height: 5rem;
  font-size: 2rem;
  margin: 20px auto;
  opacity: 0.9;
  border: none;
  width: 80%;
}

.productos {
  padding: 2vw;
}
.productos .tarjetas {
  display: flex;
  flex-wrap: wrap;
  gap: 2vw;
  background-color: #ffffff;
}
.productos .tarjetas .tarjeta__1,
.productos .tarjetas .tarjeta__2,
.productos .tarjetas .tarjeta__3 {
  width: calc(33.333% - 2vw);
  padding: 2vw;
}
.productos .tarjetas .tarjeta__1 .imgTarjeta__1,
.productos .tarjetas .tarjeta__1 .imgTarjeta__2,
.productos .tarjetas .tarjeta__1 .imgTarjeta__3,
.productos .tarjetas .tarjeta__2 .imgTarjeta__1,
.productos .tarjetas .tarjeta__2 .imgTarjeta__2,
.productos .tarjetas .tarjeta__2 .imgTarjeta__3,
.productos .tarjetas .tarjeta__3 .imgTarjeta__1,
.productos .tarjetas .tarjeta__3 .imgTarjeta__2,
.productos .tarjetas .tarjeta__3 .imgTarjeta__3 {
  width: 100%;
}
.productos .tarjetas .tarjeta__1--body,
.productos .tarjetas .tarjeta__2--body,
.productos .tarjetas .tarjeta__3--body {
  padding: 3vw;
  background-color: #ffffff;
}
.productos .tarjetas .tarjeta__1--tittle, .productos .tarjetas .tarjeta__1--precio,
.productos .tarjetas .tarjeta__2--tittle,
.productos .tarjetas .tarjeta__2--precio,
.productos .tarjetas .tarjeta__3--tittle,
.productos .tarjetas .tarjeta__3--precio {
  color: #000000;
  background-color: #ffffff;
}
@media screen and (max-width: 768px) {
  .productos .tarjetas .tarjeta__1,
  .productos .tarjetas .tarjeta__2,
  .productos .tarjetas .tarjeta__3 {
    width: calc(50% - 2vw);
  }
}
@media screen and (max-width: 480px) {
  .productos .tarjetas .tarjeta__1,
  .productos .tarjetas .tarjeta__2,
  .productos .tarjetas .tarjeta__3 {
    width: 100%;
  }
}

.btn {
  display: grid;
  background-color: #ffffff;
  align-self: center;
  padding: 3px 3px;
  border-radius: 15px;
  justify-self: center;
  text-decoration: none;
}
.btn:hover {
  background-color: #8c8c8c;
  color: #000000;
}

@media (max-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.2rem;
  }
  span {
    font-size: 1.5rem;
  }
  nav ul li {
    margin: 0 10px;
  }
  nav ul li a {
    font-size: 1.5rem;
  }
  form {
    width: 90%;
  }
  .pie {
    width: 100%;
  }
  .cuerpe__table--m h1,
  .cuerpe__text--m h1,
  .nosotrx__text--l h1 {
    font-size: 1rem;
  }
  .cuerpe__table--m h2,
  .cuerpe__text--m h2,
  .nosotrx__text--l h2 {
    font-size: 1rem;
  }
  .cuerpe__table--m h3,
  .cuerpe__text--m h3,
  .nosotrx__text--l h3 {
    font-size: 1rem;
  }
  .cuerpe__table--m span,
  .cuerpe__text--m span,
  .nosotrx__text--l span {
    font-size: 1rem;
  }
}
@media (max-width: 480px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1rem;
  }
  span {
    font-size: 1.2rem;
  }
  nav ul li a {
    font-size: 1.2rem;
  }
  form label {
    font-size: 1.5rem;
  }
  .cuerpe__table--m h1,
  .cuerpe__text--m h1,
  .nosotrx__text--l h1 {
    font-size: 1rem;
  }
  .cuerpe__table--m h2,
  .cuerpe__text--m h2,
  .nosotrx__text--l h2 {
    font-size: 1rem;
  }
  .cuerpe__table--m h3,
  .cuerpe__text--m h3,
  .nosotrx__text--l h3 {
    font-size: 1rem;
  }
  .cuerpe__table--m span,
  .cuerpe__text--m span,
  .nosotrx__text--l span {
    font-size: 1.2rem;
  }
  .cabezera {
    flex-direction: column;
    align-items: center;
  }
}

/*# sourceMappingURL=style.css.map */
