h1,
h2,
h3,
span,
.pie__titulo--l,
.productos__tittle,
.anuncio__box--some,
.cuerpe__text--m,
.cuerpe__table--m,
.nosotrx__text--l {
    @include text-style(#ffffff, #000000);
}

h1,
h2 {
    font-weight: 400;
}

h1 {
    font-size: 3rem;
    padding: 10px;
}

h2 {
    font-size: 2.5rem;
    padding: 8px;
}

h3 {
    color: #000000;
    font-size: 1.5rem;
}

span {
    padding: 10px;
    color: #000000;
    font-size: 1.7rem;
}