.cuerpo__img--entera {
    width: 100%;
}
.cabezera__img--m {
    width: 200px;
    padding: 10px;
}
.anuncio__box--some {
    text-align: center;
    font-size: 2.5rem;
    padding: 10px 0;
}
.boton__accion--s {
    width: 7.5rem;
    margin: 15px auto;
    display: block;
}
.textCenter {
    text-align: center;
}