@media (max-width: 768px) {
    @include responsive-text(2.5rem, 2rem, 1.2rem, 1.5rem);

    nav ul li {
        margin: 0 10px;
    }

    nav ul li a {
        font-size: 1.5rem;
    }

    form {
        width: 90%;
    }

    .pie {
        width: 100%;
    }

    .cuerpe__table--m,
    .cuerpe__text--m,
    .nosotrx__text--l {
        @include responsive-text(1rem, 1rem, 1rem, 1rem);
    }
}

@media (max-width: 480px) {
    @include responsive-text(2rem, 1.5rem, 1rem, 1.2rem);

    nav ul li a {
        font-size: 1.2rem;
    }

    form label {
        font-size: 1.5rem;
    }

    .cuerpe__table--m,
    .cuerpe__text--m,
    .nosotrx__text--l {
        @include responsive-text(1rem, 1rem, 1rem, 1.2rem);
    }

    .cabezera {
        flex-direction: column;
        align-items: center;
    }
}