@font-face {
    font-family: "Helvetica";
    src: url(../assets/fonts/Helvetica-Bold.ttf);
}
  
  * {
    font-family: 'Helvetica', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
html {
    font-size: 62.5%;
}